@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    height: 350vh;
    background-color: rgb(2, 0, 24);
    width: 100vw;
}

nav{
    padding: 3%;
    width: 100vw;
    background-color: rgb(19, 58, 99);
    position: fixed;
    top: 0;
    z-index: 2;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    margin-left: 2%;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
}

#logo{
    position: absolute;
    top: 40%;
}



#menu{
    position: absolute;
    right: 2vw;
    top: 0%;
    cursor: pointer;
    z-index: 200;
    width: 50px;
    height: 50px;
}

#menu span{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5%;
    width: 2%;
    height: 2px;
    background-color: whitesmoke;
    z-index: 100;
    transform-origin: 0px 100%;
    transition: all 600ms;
}



.line1{
    margin-top: 0;
}
.line2{
    margin-top: 0.5%;
}
.line3{
    margin-top: 1%;
}
.line1active{
    
    transform: rotate(45deg) translate(-2px, 1px);
}
.line2active{
    opacity: 0;
}

.line3active{

    transform: rotate(-45deg) translate(-4px, 2px);
}
main{
    position: relative;
    top: 2%;
    height: 100vh;
}
h1{
    font-size: 40px;
    position: absolute;
    margin-top: 25%;
    margin-left: 3%;
    color: whitesmoke;
}
h2{
    font-weight: 500;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.5);
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    padding-top: 0%;
    color: black;
}
span{
    color: rgb(19, 58, 99);
}
#artuno{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: -20%;
    animation: primeraAnimacion 2s linear;
}

#artuno::before{
    content: "";
    position: absolute;
    background: url(./images/img-20160725-114145-largejpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.animate{
    animation: primeraAnimacion 2s linear;
}

.menu2{
    position: fixed;
    z-index: 300;
    top: 10%;
    margin-left: 80%;
    background-color: rgb(19, 58, 99);
    width: 20vw;
    opacity: 0;
    border-radius: 15px;
}

.menu2 ul{
    display: flex;
    flex-direction: column;
    
}
.menu2 ul li{
    margin-top: 25%;
    padding: 10%;
    color: whitesmoke;
    margin-bottom: 10%;
    
}

.menu2 ul li:hover{
    background-color: rgb(10, 30, 52);
    cursor: pointer;
}

.menu2 ul li a{
    text-align: center;
    margin-right: 50%;
}
.despliegue{
    animation: primeraAnimacion 1s linear;
    opacity: 1;
}


#artdos{
    background-color: whitesmoke;
    opacity: 0.8;
    height:50vh;
    margin-top: 20%;
}


#artres{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: -20%;
}

#artres::before{
    content: "";
    position: absolute;
    background: url(./1280px-Flag_of_Galicia.svg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#artcuatro{
    background-color: whitesmoke;
    opacity: 0.8;
    height:50vh;
    margin-top: 20%;
}
.letraoscura{
    color: rgb(0, 0, 0);
}

#svg3{
    width:20%;
    margin-top: 5%;
    margin-left: 40%;
}

#artfinal{
    height: 25vh;
    margin-top: 10%;
}
#artfinal a{
    color: whitesmoke;
    background-color: rgb(19, 58, 99);
    padding: 20%;
    border-radius: 5px;
}

#artfinal ul{
    margin-left: 20%;
}

#artfinal ul li{
    margin-right: 50%;
}
#artfinal a:hover{
    background-color: whitesmoke;
    color: rgb(19, 58, 99);
}
.foto{
    width: 25%;
    margin-top: 7%;
    margin-left: 38%;
}

@keyframes primeraAnimacion{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

#svg{
    width:10%;
    margin-left: 45%;
    margin-top: 10%;
}

#svg2{
    width: 50%;
    margin-left: 45%;
    margin-top: 20%;
}